@import "../utils/mixins";

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.container {
	position: relative;
	max-width: $max-width;
	padding: 0 15px;
	margin: 0 auto;
}

.thin_p {
	font-family: $ff-main;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2.1rem;
	letter-spacing: 0.56px;
	color: $c-black;
}

.regular_title {
	font-family: $ff-main;
	font-style: normal;
	font-weight: 400;
	font-size: 5.6rem;
	line-height: 6.2rem;
	color: $c-black;
}
