// fonts
// $main-ff: , sans-serif;
// $sec-ff: , sans-serif;

// colors


// shadows


// resolution
$max-width: 1280px;

// z index


// breakpoints
$tablet: 860px;
$mobile: 480px;
$s-laptop: 1024px;
