// fonts
$ff-main: 'Roboto', sans-serif;


// colors
$c-black: #141414;
$c-white: #EEEEEE;


// shadows


// resolution
$max-width: 1250px;

// z index


// breakpoints
$tablet: 768px;
$mobile: 480px;
$s-laptop: 1024px;
