// fonts
$ff-main: 'Roboto', sans-serif;


// colors
$c-black: #141414;

// shadows


// resolution
$max-width: 1250px;

// z index


// breakpoints
$tablet: 860px;
$mobile: 480px;
$s-laptop: 1024px;
