section.hero 
  .container
    h1.title Hi, I'm Vostok.
    h2.title A brutalism enthusiast & product designer based in Paris. Now, I am working at @sidebaystudio.
    p.thin_p 2019—2021 by Sidebay.Studio