.photos {
	.container {
		@extend .column;
		align-items: flex-end;
		padding-bottom: 35rem;

		@media (max-width: $tablet) {
			padding-bottom: 15rem;
		}
	}

	&__item {
		margin-bottom: 10rem;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item-img {
		height: auto;
		width: 100%;
		max-width: $max-width;
	}

	&__item-text {
		margin-top: 3.5rem;
	}

	&__item-text {
		font-family: $ff-main;
		font-style: normal;
		font-weight: 400;
		font-size: 2.6rem;
		line-height: 3.8rem;
		letter-spacing: 0.56px;
		color: $c-black;
	}
}
